:root {
  //colors
  --body-background-color: #fff;
  --background-color-true: #f4f4f5;
  --background-color: #fff;
  --border-color: #dfe1e5;
  --surface-color: #fff;
  --scrollbar-color: rgba(0, 0, 0, .2);
  --input-search-background-color: #fff;
  --input-search-border-color: #dfe1e5;
  --primary-color: #3390ec;
  --light-primary-color: rgba(51, 144, 236, 0.08);
  --dark-primary-color: #157ce1;
  --primary-text-color: #000;
  --secondary-color: #c4c9cc;
  --secondary-text-color: #707579;
  --light-secondary-text-color: rgba(112, 117, 121, 0.08);
  --danger-color: #df3f40;
  --light-danger-color: rgba(223, 63, 64, 0.08);
  --avatar-online-color: #0ac630;
  --chatlist-status-color: var(--avatar-online-color);
  --chatlist-pinned-color: #a2abb2;
  --badge-text-color: #fff;
  --link-color: #00488f;
  --ripple-color: rgba(0, 0, 0, .08);
  --poll-circle-color: var(--border-color);
  --message-background-color: var(--surface-color);
  --message-checkbox-color: #61c642;
  --message-checkbox-border-color: #fff;
  --message-secondary-color: var(--secondary-color);
  --message-out-background-color: #eeffde;
  --light-message-out-background-color: rgba(238, 255, 222, 0.08);
  --dark-message-out-background-color: #d9ffb5;
  --message-out-link-color: var(--link-color);
  --message-out-primary-color: #4fae4e;
  --message-out-status-color: var(--message-out-primary-color);
  --message-out-audio-play-button-color: #fff;
  --video-conf-background-color: #182029;
  --video-conf-controlbar-background-color: rgba(24, 32, 41, 0.8);

  //box-shadows
  --z-depth-0-box-shadow: none !important;
  --z-depth-1-box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12),0 1px 5px 0 rgba(0,0,0,.2);
  --z-depth-1-half-box-shadow: 0 3px 3px 0 rgba(0,0,0,.14),0 1px 7px 0 rgba(0,0,0,.12),0 3px 1px -1px rgba(0,0,0,.2);
  --z-depth-2-box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.3);
  --z-depth-3-box-shadow: 0 8px 17px 2px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2);
  --z-depth-4-box-shadow: 0 16px 24px 2px rgba(0,0,0,.14),0 6px 30px 5px rgba(0,0,0,.12),0 8px 10px -7px rgba(0,0,0,.2);
  --z-depth-5-box-shadow: 0 24px 38px 3px rgba(0,0,0,.14),0 9px 46px 8px rgba(0,0,0,.12),0 11px 15px -7px rgba(0,0,0,.2);
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI",Roboto,
  Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
}

*{
  margin: 0;
  padding: 0;
}

*, :after, :before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
