@import "../../../../styles/rem";

.content {
  width: 100%;
  height: rem(56px);
  background: var(--surface-color);
}

.searchIcon {
  color: var(--border-color);
  position: absolute;
  left: rem(15px);
  top: rem(8px);
  width: rem(20px) !important;
}

.input {
  width: 100%;
  border-radius: rem(30px);
  &:after {
    display: none;
  }
  &:before {
    display: none;
  }
}

.navCont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: rem(6px 20px 15px 0);
}

.stateButtonCont {
  width: rem(50px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stateButton {
  height: rem(40px) !important;
}

.button {
  background-color: var(--body-background-color) !important;
  width: rem(40px);
  height: rem(40px);
  padding: 0 !important;
  min-width: auto !important;
  border-radius: rem(8px) !important;
}

.formBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 50px);
  position: relative;
}

.inputInner {
  border: rem(1px) solid var(--border-color) !important;
  border-radius: rem(34px);
  padding: rem(10px 10px 10px 44px) !important;
  font-size: rem(15px) !important;
  &:focus {
    border: rem(1px) solid var(--primary-color) !important;
  }
}

