@import '../../../../../styles/rem';

.content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  &.myMessage {
    justify-content: flex-end;
  }
}

.messageBlock {
  background: var(--body-background-color);
  border-radius: rem(10px);
  padding: rem(5px 8px 6px 10px);
  margin-bottom: rem(8px);
  &.myMessage {
    background: var(--message-out-background-color);
  }
}

.authorName {
  font-size: 15px !important;
  font-weight: 600;
  margin-bottom: 0 !important;
  color: var(--primary-color);
}

.messageInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.messageText {
  font-size: rem(16px) !important;
  margin-bottom: 0 !important;
}

.messageDate {
  margin-bottom: 0 !important;
  font-size: rem(12px) !important;
  position: relative;
  top: rem(8px);
  margin-left: rem(6px) !important;
  color: var(--secondary-text-color);
}

.joinMessage {
  background: rgba(109, 141, 65, 0.4);
  width: fit-content;
  color: white;
  font-size: rem(16px);
  padding: rem(6px 14px);
  border-radius: rem(20px);
  margin: rem(auto auto 10px);
  font-weight: 500;
  line-height: 100%;
}
