.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  height: 100vh;
}

.list {
  height: calc(100vh - 120px);
}

.channelsList {
  width: 364px;
  flex-shrink: 0;
}

.messagesList {
  width: 100%;
  flex-shrink: 1;
}