@import "../../../styles/rem";

.content {
  background: var(--video-conf-controlbar-background-color);
}

.controlsCont {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
