@import "../../../../styles/rem";

.content {
   height: 100%;
   width: 100%;
}

.list {
   width: 100%;
   padding: 0 rem(8px);
}

.scrollBar {
   background: red;
}

.trackVertical {
   position: absolute;
   width: 6px;
   display: block!important;
   right: 1px;
   bottom: 2px;
   top: 2px;
   border-radius: 3px;
}
