.content {
  width: 500px;
  margin: 10px;
}

.videoElem {
  width: 100%;
}

.streamCont {
  height: 375px;
  width: 100%;
}

.streamLoading {
  height: 375px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
