.content {
  width: 500px;
  margin: 10px;
  background: var(--light-primary-color)
}

.videoElem {
  width: 100%;
}

.streamCont {
  height: 375px;
  width: 100%;
}

.streamLoading {
  height: 375px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.streamName {
  color: white;
  padding: 10px;
}
